*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: "Raleway";
}

.contaier{
    height:100vh;
    width:100vw;
    background-color: rgb(169, 207, 207);
}

/* <----------------------NAVBAR----------------------> */

.top-nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width:100%;
  color: #808080;
  height: 50px;
  padding: 1em;
  background-color: #F8F8F8;
  margin-top: 0;
}
.menu li a{
  color:#808080;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:30%;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #B0B0B0;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu li a{
    list-style: none;
    text-decoration: none;
   font-size: 1.3em;
   color:#808080;
}
.menu li:hover{
    border-bottom: solid #B0B0B0 0.5px;
    transition-delay:0.15s;
    
}
button{
  color:white;
  background-color: rgb(42, 177, 255);
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  padding:10px;
}
#logo{
    font-size: 1.5em;
}


.end{
  width:100%;
  height:70vh;
 
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: #F8F8F8;
}
.end h1 {
 font-size: 3em;
 font-family: 'Roboto', sans-serif;
 font-family: 'Roboto Condensed', sans-serif;
}
.end p{
  font-size: 1.5em;
}
.end li{
 
  font-size: 1.5em;
  text-align: left;
}

.endBox{
  width:50%;
  height:50%;
margin-left: 20%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap:20px;
  padding-left: 10px;
}
.endBox ul li{
  width: max-content;
  padding:5px 5px;
  list-style-type: none;
  border-radius: 1em;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  background-color: silver;
  flex-direction: row;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.endBox p{
  width:70%;
}
/* <----------------------NAVBAR----------------------> */



/* <------------------TOP---------------> */


#mid{
    height:80vh;
    width:100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.midl{
    width:100%;
    height:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap:5%;
}

.midl img{
  background-size: cover;
}
#mid h1{
text-align: center;  
}

.topONas{
  width:100%;
  height:20vh;
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #f0f0f0;
  
}


.mySlides{
width:600px;
height:600px;
background-size: cover;
padding:10px 10px;
box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
.w3-button{
  height:35px;
  width:50px;
  align-self: center;
  text-align: center;
}





/* <----------------------SOCIAL MEDIA-------------------> */
.wrapper{
    width:100%;
    height:15vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    background-color: #03d5fa;
    border-radius: 30px;
}
.wrapper .icon{
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 2em;
    display: inline-block;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
    
  }
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
  }
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }
  .wrapper h1{
   align-self: flex-end;
   
  }

/* <----------------------SOCIAL MEDIA-------------------> */


/* <----------------------FOOTER-------------------------> */
.footer{
    width:100%;
    height:20vh;
    background-color:#03d5fa;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   
}
.footer #FooterFizjo{
    font-size: 1.5em;
    text-align: center;
    color:white;
    padding:5px;
    width:100%;

}
.footer p{
    font-size: 1em;
    color: black;
    text-align: end;
    border:2px solid;
}
.copyright{
 
    text-align: center;
    background-color: #03d5fa;
    height:5vh;
    color:white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
}
/* <----------------------FOOTER-------------------------> */



/*<-----------------Media queries-----------------------> */
@media (max-width: 1355px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    background-color: black;
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .top1 .prawo .mySlides {
    width:320px;
    height:320px;
   }
}

@media only screen and (max-width:840px){
 .top1 .prawo{
  display: none;
 }
 .top1 .lewo{
  width:100%;
 }
}
@media only screen and (max-width:736px){
  #kontakt{
    display:none;
  }
  .top-nav{
  justify-content: space-between;
}
.menu-button{
  margin-left:35%;
}


.setKafle{
  padding-top:20px;
  height:300%;
  
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap:20px;
  padding-bottom:20px;
}
.kafle ,.kafle1, .kafle2{
  height:400px;
  width:70%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  border:none;
}
.mid{
  display:none;
}
.end{
  width:100%;
  height:100vh;
  flex-direction: row;
}
.end h1{
  font-size: 1.5em;
}
.endBox{
  width:100%;
  height: 100%;
  
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-left: 0;
}
.endBox p{
  width:100%;
}
.mySlides{
  width:300px;
  height:300px;
  background-size: cover;
  padding:10px 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }
  .topONas h1{
    font-size: 1.5em;
    padding:0;
    padding-top:40px;
  }

  #mid h1{
    font-size: 1.5em;
  }
  .midl{
    margin-bottom:30px;
  }


}

 #logo a{
  text-decoration: none;
  list-style-type: none;
  list-style: none;
}
.footer{
  height:30vh;
}








